In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load data file
data = pd.read_csv('aus.csv')

In [3]:
data.head()

,p1,p1-s,p2,p2-s,p3,p3-s,p4,p4-s,p5,p5-s,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,DA Warner,127,AJ Finch,15,SR Watson,16,SPD Smith,37,GJ Bailey,10,...,BJ Haddin,16,JP Faulkner,6,MA Starc,0,PJ Cummins,0,XJ Doherty,0
1,AJ Finch,96,DA Warner,24,SR Watson,41,SPD Smith,47,GJ Maxwell,20,...,BJ Haddin,13,JP Faulkner,9,MA Starc,0,PJ Cummins,0,GS Sandhu,0
2,AJ Finch,32,SE Marsh,45,SPD Smith,102,CL White,0,GJ Maxwell,37,...,BJ Haddin,42,MC Henriques,4,MA Starc,1,PJ Cummins,0,GS Sandhu,0
3,AJ Finch,0,DA Warner,12,SPD Smith,40,GJ Bailey,2,GJ Maxwell,95,...,BJ Haddin,9,JP Faulkner,50,MG Johnson,3,MA Starc,0,JR Hazlewood,0
4,DA Warner,22,AJ Finch,135,SR Watson,0,SPD Smith,5,GJ Bailey,55,...,MR Marsh,23,BJ Haddin,31,MG Johnson,0,MA Starc,0,JR Hazlewood,0

In [4]:
x = set()
print(x)

set()

In [5]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)

{'SE Marsh', 'SPD Smith', 'JS Paris', 'MS Wade', 'MG Neser', 'UT Khawaja', 'JP Faulkner', 'SM Boland', 'HWR Cartwright', 'NM Lyon', 'MG Johnson', 'GS Sandhu', 'SR Watson', 'SD Heazlett', 'CP Tremain', 'JL Pattinson', 'CA Lynn', 'DJ Worrall', 'PM Siddle', 'NM Coulter-Nile', 'MR Marsh', 'DA Warner', 'PSP Handscomb', 'TM Head', 'JA Richardson', 'B Stanlake', 'CL White', 'MA Starc', 'PJ Cummins', 'MC Henriques', 'AJ Turner', 'GJ Maxwell', 'GJ Bailey', 'DJM Short', 'JM Mennie', 'JR Hazlewood', 'XJ Doherty', 'AT Carey', 'JW Hastings', 'M Labuschagne', 'AJ Finch', 'JP Behrendorff', 'AJ Tye', 'AC Agar', 'BJ Haddin', 'A Zampa', 'MP Stoinis', 'TD Paine', 'KW Richardson', 'MJ Clarke', 'JA Burns'}

In [8]:
print(len(x))

51

In [9]:
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [10]:
import itertools 
# def findsubsets(s, n): 
def findsubsets(s, n): 
    return [set(i) for i in itertools.combinations(s, n)]

In [11]:
#2 grams

In [12]:
sub2 = findsubsets(x,2)

In [13]:
column_names = ["player-1", "player-2", "avg"]

result_2grams = pd.DataFrame(columns = column_names)

In [14]:
for t in sub2:
    new_list = list(t)
    df = data[np.equal.outer(data.to_numpy(copy=False),  new_list).any(axis=1).all(axis=1)]
    count = 0;
    df = df.reset_index(drop=True)
    isempty = df.empty
    if(isempty):
        result_2grams = result_2grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'avg':0.0}, ignore_index=True)
        continue
    for index, row in df.iterrows():
        for ind, p in enumerate(players):
                if(df.iloc[index][p] == new_list[0] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[1] ):
                    count = count + df.iloc[index][player_scores[ind]]
    avg = count/df.shape[0]
    result_2grams = result_2grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'avg':avg}, ignore_index=True)

In [15]:
result_2grams.head(25)

        player-1        player-2   avg
0     XJ Doherty    JR Hazlewood   0.0
1     XJ Doherty       PM Siddle   0.0
2     XJ Doherty       SR Watson  41.5
3     XJ Doherty   M Labuschagne   0.0
4     XJ Doherty        TD Paine   0.0
5     XJ Doherty         CA Lynn   0.0
6     XJ Doherty        MA Starc   0.0
7     XJ Doherty       SM Boland   0.0
8   MC Henriques      XJ Doherty   0.0
9     XJ Doherty    JL Pattinson   0.0
10    XJ Doherty       DA Warner  68.0
11    XJ Doherty       DJM Short   0.0
12    XJ Doherty         MS Wade   0.0
13    XJ Doherty      B Stanlake   0.0
14    XJ Doherty        MR Marsh   0.0
15       AC Agar      XJ Doherty   0.0
16    XJ Doherty        AJ Finch  19.5
17    XJ Doherty        SE Marsh   0.0
18    UT Khawaja      XJ Doherty   0.0
19      AT Carey      XJ Doherty   0.0
20    MP Stoinis      XJ Doherty   0.0
21     GJ Bailey      XJ Doherty  10.0
22    XJ Doherty       MJ Clarke  68.0
23    XJ Doherty       JM Mennie   0.0
24    XJ Doherty  JP Behrendorff   0.0

In [16]:
result_2grams.to_csv('aus2grams.csv')

In [17]:
#3 grams

In [18]:
sub3 = findsubsets(x,3)

In [19]:
print(len(sub3))

20825

In [20]:
column_names = ["player-1", "player-2","player-3", "avg"]

result_3grams = pd.DataFrame(columns = column_names)

In [21]:
for t in sub3:
    new_list = list(t)
    df = data[np.equal.outer(data.to_numpy(copy=False),  new_list).any(axis=1).all(axis=1)]
    count = 0;
    df = df.reset_index(drop=True)
    isempty = df.empty
    if(isempty):
        result_3grams = result_3grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'player-3':new_list[2], 'avg':0.0}, ignore_index=True)
        continue
    for index, row in df.iterrows():
        for ind, p in enumerate(players):
                if(df.iloc[index][p] == new_list[0] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[1] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[2] ):
                    count = count + df.iloc[index][player_scores[ind]]
    avg = count/df.shape[0]
    result_3grams = result_3grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'player-3':new_list[2], 'avg':avg}, ignore_index=True)

In [22]:
result_3grams.head(25)

        player-1      player-2        player-3  avg
0     XJ Doherty  JR Hazlewood       PM Siddle  0.0
1     XJ Doherty  JR Hazlewood       SR Watson  0.0
2     XJ Doherty  JR Hazlewood   M Labuschagne  0.0
3     XJ Doherty  JR Hazlewood        TD Paine  0.0
4     XJ Doherty  JR Hazlewood         CA Lynn  0.0
5     XJ Doherty  JR Hazlewood        MA Starc  0.0
6     XJ Doherty  JR Hazlewood       SM Boland  0.0
7   MC Henriques    XJ Doherty    JR Hazlewood  0.0
8     XJ Doherty  JR Hazlewood    JL Pattinson  0.0
9     XJ Doherty  JR Hazlewood       DA Warner  0.0
10    XJ Doherty  JR Hazlewood       DJM Short  0.0
11    XJ Doherty  JR Hazlewood         MS Wade  0.0
12    XJ Doherty  JR Hazlewood      B Stanlake  0.0
13    XJ Doherty  JR Hazlewood        MR Marsh  0.0
14       AC Agar    XJ Doherty    JR Hazlewood  0.0
15    XJ Doherty  JR Hazlewood        AJ Finch  0.0
16    XJ Doherty  JR Hazlewood        SE Marsh  0.0
17    UT Khawaja    XJ Doherty    JR Hazlewood  0.0
18      AT Carey    XJ Doherty    JR Hazlewood  0.0
19    MP Stoinis    XJ Doherty    JR Hazlewood  0.0
20     GJ Bailey    XJ Doherty    JR Hazlewood  0.0
21     MJ Clarke    XJ Doherty    JR Hazlewood  0.0
22    XJ Doherty  JR Hazlewood       JM Mennie  0.0
23    XJ Doherty  JR Hazlewood  JP Behrendorff  0.0
24    XJ Doherty  JR Hazlewood        CL White  0.0

In [23]:
result_3grams.to_csv('aus3grams.csv')

In [24]:
#4 grams

In [11]:
sub4 = findsubsets(x,4)

In [12]:
print(len(sub4))

249900

In [13]:
column_names = ["player-1", "player-2","player-3", "player-4", "avg"]

result_4grams = pd.DataFrame(columns = column_names)

In [14]:
for t in sub4:
    new_list = list(t)
    df = data[np.equal.outer(data.to_numpy(copy=False),  new_list).any(axis=1).all(axis=1)]
    count = 0;
    df = df.reset_index(drop=True)
    isempty = df.empty
    if(isempty):
        result_4grams = result_4grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'player-3':new_list[2], 'player-4':new_list[3], 'avg':0.0}, ignore_index=True)
        continue
    for index, row in df.iterrows():
        for ind, p in enumerate(players):
                if(df.iloc[index][p] == new_list[0] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[1] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[2] ):
                    count = count + df.iloc[index][player_scores[ind]]
                if(df.iloc[index][p] == new_list[3] ):
                    count = count + df.iloc[index][player_scores[ind]]
    avg = count/df.shape[0]
    result_4grams = result_4grams.append({'player-1':new_list[0], 'player-2':new_list[1], 'player-3':new_list[2], 'player-4':new_list[3], 'avg':avg}, ignore_index=True)

In [15]:
result_4grams.head(25)

    player-1   player-2        player-3         player-4    avg
0   SE Marsh  SPD Smith         MS Wade         JS Paris  117.0
1   SE Marsh  SPD Smith        JS Paris         MG Neser    0.0
2   SE Marsh  SPD Smith      UT Khawaja         JS Paris    0.0
3   SE Marsh  SPD Smith     JP Faulkner         JS Paris  117.0
4   SE Marsh  SPD Smith        JS Paris        SM Boland  117.0
5   SE Marsh  SPD Smith  HWR Cartwright         JS Paris    0.0
6   SE Marsh  SPD Smith         NM Lyon         JS Paris    0.0
7   SE Marsh  SPD Smith      MG Johnson         JS Paris    0.0
8   SE Marsh  SPD Smith        JS Paris        GS Sandhu    0.0
9   SE Marsh  SPD Smith        JS Paris        SR Watson    0.0
10  SE Marsh  SPD Smith        JS Paris      SD Heazlett    0.0
11  SE Marsh  SPD Smith        JS Paris       CP Tremain    0.0
12  SE Marsh  SPD Smith    JL Pattinson         JS Paris    0.0
13  SE Marsh  SPD Smith         CA Lynn         JS Paris    0.0
14  SE Marsh  SPD Smith      DJ Worrall         JS Paris    0.0
15  SE Marsh  SPD Smith       PM Siddle         JS Paris    0.0
16  SE Marsh  SPD Smith        JS Paris  NM Coulter-Nile    0.0
17  SE Marsh  SPD Smith        JS Paris         MR Marsh    0.0
18  SE Marsh  SPD Smith        JS Paris        DA Warner    0.0
19  SE Marsh  SPD Smith   PSP Handscomb         JS Paris    0.0
20  SE Marsh  SPD Smith        JS Paris          TM Head    0.0
21  SE Marsh  SPD Smith   JA Richardson         JS Paris    0.0
22  SE Marsh  SPD Smith        JS Paris       B Stanlake    0.0
23  SE Marsh  SPD Smith        JS Paris         CL White    0.0
24  SE Marsh  SPD Smith        MA Starc         JS Paris    0.0

In [16]:
result_4grams.to_csv('aus4grams.csv')