In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load data file
data = pd.read_csv('aus.csv')

In [3]:
data.head()

,p1,p1-s,p2,p2-s,p3,p3-s,p4,p4-s,p5,p5-s,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,DA Warner,127,AJ Finch,15,SR Watson,16,SPD Smith,37,GJ Bailey,10,...,BJ Haddin,16,JP Faulkner,6,MA Starc,0,PJ Cummins,0,XJ Doherty,0
1,AJ Finch,96,DA Warner,24,SR Watson,41,SPD Smith,47,GJ Maxwell,20,...,BJ Haddin,13,JP Faulkner,9,MA Starc,0,PJ Cummins,0,GS Sandhu,0
2,AJ Finch,32,SE Marsh,45,SPD Smith,102,CL White,0,GJ Maxwell,37,...,BJ Haddin,42,MC Henriques,4,MA Starc,1,PJ Cummins,0,GS Sandhu,0
3,AJ Finch,0,DA Warner,12,SPD Smith,40,GJ Bailey,2,GJ Maxwell,95,...,BJ Haddin,9,JP Faulkner,50,MG Johnson,3,MA Starc,0,JR Hazlewood,0
4,DA Warner,22,AJ Finch,135,SR Watson,0,SPD Smith,5,GJ Bailey,55,...,MR Marsh,23,BJ Haddin,31,MG Johnson,0,MA Starc,0,JR Hazlewood,0

In [4]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [5]:
x = set()

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)

{'JM Mennie', 'CP Tremain', 'NM Coulter-Nile', 'AT Carey', 'SPD Smith', 'AC Agar', 'MS Wade', 'SD Heazlett', 'JA Richardson', 'MR Marsh', 'M Labuschagne', 'DJ Worrall', 'SR Watson', 'PM Siddle', 'AJ Finch', 'GS Sandhu', 'MG Neser', 'MP Stoinis', 'PJ Cummins', 'CA Lynn', 'B Stanlake', 'JW Hastings', 'XJ Doherty', 'JL Pattinson', 'MJ Clarke', 'UT Khawaja', 'AJ Turner', 'A Zampa', 'JR Hazlewood', 'NM Lyon', 'CL White', 'AJ Tye', 'JA Burns', 'MC Henriques', 'JP Faulkner', 'DA Warner', 'MA Starc', 'HWR Cartwright', 'GJ Maxwell', 'PSP Handscomb', 'SM Boland', 'JS Paris', 'JP Behrendorff', 'SE Marsh', 'TD Paine', 'BJ Haddin', 'KW Richardson', 'DJM Short', 'MG Johnson', 'TM Head', 'GJ Bailey'}

In [8]:
len(x)

51

In [9]:
unique_list = list(x)
print(unique_list)

['JM Mennie', 'CP Tremain', 'NM Coulter-Nile', 'AT Carey', 'SPD Smith', 'AC Agar', 'MS Wade', 'SD Heazlett', 'JA Richardson', 'MR Marsh', 'M Labuschagne', 'DJ Worrall', 'SR Watson', 'PM Siddle', 'AJ Finch', 'GS Sandhu', 'MG Neser', 'MP Stoinis', 'PJ Cummins', 'CA Lynn', 'B Stanlake', 'JW Hastings', 'XJ Doherty', 'JL Pattinson', 'MJ Clarke', 'UT Khawaja', 'AJ Turner', 'A Zampa', 'JR Hazlewood', 'NM Lyon', 'CL White', 'AJ Tye', 'JA Burns', 'MC Henriques', 'JP Faulkner', 'DA Warner', 'MA Starc', 'HWR Cartwright', 'GJ Maxwell', 'PSP Handscomb', 'SM Boland', 'JS Paris', 'JP Behrendorff', 'SE Marsh', 'TD Paine', 'BJ Haddin', 'KW Richardson', 'DJM Short', 'MG Johnson', 'TM Head', 'GJ Bailey']

In [10]:
column_names = ["player_name", "sum", "avg"]

result = pd.DataFrame(columns = column_names)

In [11]:
dictionary = dict()

for indx, name in enumerate(unique_list):
    count = 0
    sum = 0
    for index, row in data.iterrows():
        for ind, p in enumerate(players):
                if(data.iloc[index][p] == name ):
#                     print(name)
                    sum = sum + data.iloc[index][player_scores[ind]] 
                    count += 1
    avg = round((sum/count),2)
    print(name," : sum=",sum," , count=",count," , average=",round(avg,2))    
    dictionary[name] = avg
    result = result.append({'player_name':name, 'sum':sum, 'avg':avg}, ignore_index=True)
    
print(dictionary)

JM Mennie  : sum= 1  , count= 2  , average= 0.5
CP Tremain  : sum= 23  , count= 4  , average= 5.75
NM Coulter-Nile  : sum= 192  , count= 22  , average= 8.73
AT Carey  : sum= 1015  , count= 39  , average= 26.03
SPD Smith  : sum= 3211  , count= 75  , average= 42.81
AC Agar  : sum= 189  , count= 13  , average= 14.54
MS Wade  : sum= 868  , count= 44  , average= 19.73
SD Heazlett  : sum= 4  , count= 1  , average= 4.0
JA Richardson  : sum= 92  , count= 13  , average= 7.08
MR Marsh  : sum= 1255  , count= 46  , average= 27.28
M Labuschagne  : sum= 394  , count= 10  , average= 39.4
DJ Worrall  : sum= 6  , count= 3  , average= 2.0
SR Watson  : sum= 312  , count= 11  , average= 28.36
PM Siddle  : sum= 10  , count= 3  , average= 3.33
AJ Finch  : sum= 3505  , count= 88  , average= 39.83
GS Sandhu  : sum= 0  , count= 2  , average= 0.0
MG Neser  : sum= 8  , count= 2  , average= 4.0
MP Stoinis  : sum= 1106  , count= 44  , average= 25.14
PJ Cummins  : sum= 262  , count= 56  , average= 4.68
CA Lynn  : sum= 75  , count= 4  , average= 18.75
B Stanlake  : sum= 4  , count= 7  , average= 0.57
JW Hastings  : sum= 189  , count= 17  , average= 11.12
XJ Doherty  : sum= 0  , count= 2  , average= 0.0
JL Pattinson  : sum= 2  , count= 2  , average= 1.0
MJ Clarke  : sum= 172  , count= 6  , average= 28.67
UT Khawaja  : sum= 1540  , count= 36  , average= 42.78
AJ Turner  : sum= 79  , count= 6  , average= 13.17
A Zampa  : sum= 124  , count= 57  , average= 2.18
JR Hazlewood  : sum= 46  , count= 41  , average= 1.12
NM Lyon  : sum= 65  , count= 21  , average= 3.1
CL White  : sum= 35  , count= 4  , average= 8.75
AJ Tye  : sum= 57  , count= 7  , average= 8.14
JA Burns  : sum= 146  , count= 6  , average= 24.33
MC Henriques  : sum= 31  , count= 4  , average= 7.75
JP Faulkner  : sum= 346  , count= 33  , average= 10.48
DA Warner  : sum= 3812  , count= 72  , average= 52.94
MA Starc  : sum= 240  , count= 61  , average= 3.93
HWR Cartwright  : sum= 2  , count= 2  , average= 1.0
GJ Maxwell  : sum= 2149  , count= 71  , average= 30.27
PSP Handscomb  : sum= 716  , count= 23  , average= 31.13
SM Boland  : sum= 9  , count= 13  , average= 0.69
JS Paris  : sum= 0  , count= 2  , average= 0.0
JP Behrendorff  : sum= 19  , count= 11  , average= 1.73
SE Marsh  : sum= 1129  , count= 29  , average= 38.93
TD Paine  : sum= 153  , count= 9  , average= 17.0
BJ Haddin  : sum= 206  , count= 11  , average= 18.73
KW Richardson  : sum= 64  , count= 17  , average= 3.76
DJM Short  : sum= 211  , count= 8  , average= 26.38
MG Johnson  : sum= 34  , count= 8  , average= 4.25
TM Head  : sum= 1273  , count= 40  , average= 31.82
GJ Bailey  : sum= 1099  , count= 36  , average= 30.53
{'JM Mennie': 0.5, 'CP Tremain': 5.75, 'NM Coulter-Nile': 8.73, 'AT Carey': 26.03, 'SPD Smith': 42.81, 'AC Agar': 14.54, 'MS Wade': 19.73, 'SD Heazlett': 4.0, 'JA Richardson': 7.08, 'MR Marsh': 27.28, 'M Labuschagne': 39.4, 'DJ Worrall': 2.0, 'SR Watson': 28.36, 'PM Siddle': 3.33, 'AJ Finch': 39.83, 'GS Sandhu': 0.0, 'MG Neser': 4.0, 'MP Stoinis': 25.14, 'PJ Cummins': 4.68, 'CA Lynn': 18.75, 'B Stanlake': 0.57, 'JW Hastings': 11.12, 'XJ Doherty': 0.0, 'JL Pattinson': 1.0, 'MJ Clarke': 28.67, 'UT Khawaja': 42.78, 'AJ Turner': 13.17, 'A Zampa': 2.18, 'JR Hazlewood': 1.12, 'NM Lyon': 3.1, 'CL White': 8.75, 'AJ Tye': 8.14, 'JA Burns': 24.33, 'MC Henriques': 7.75, 'JP Faulkner': 10.48, 'DA Warner': 52.94, 'MA Starc': 3.93, 'HWR Cartwright': 1.0, 'GJ Maxwell': 30.27, 'PSP Handscomb': 31.13, 'SM Boland': 0.69, 'JS Paris': 0.0, 'JP Behrendorff': 1.73, 'SE Marsh': 38.93, 'TD Paine': 17.0, 'BJ Haddin': 18.73, 'KW Richardson': 3.76, 'DJM Short': 26.38, 'MG Johnson': 4.25, 'TM Head': 31.82, 'GJ Bailey': 30.53}

In [12]:
# 2 grams - find beautiful combinations

In [13]:
#load data file
data2grams = pd.read_csv('aus2grams.csv')

In [14]:
data2grams.head()

     player-1       player-2   avg
0  XJ Doherty   JR Hazlewood   0.0
1  XJ Doherty      PM Siddle   0.0
2  XJ Doherty      SR Watson  41.5
3  XJ Doherty  M Labuschagne   0.0
4  XJ Doherty       TD Paine   0.0

In [15]:
data2grams.shape

(1275, 3)

In [16]:
data2grams = data2grams[data2grams.avg != 0.0]

In [17]:
data2grams.shape

(636, 3)

In [18]:
data2grams = data2grams.reset_index(drop=True)

In [19]:
new_column_names = ["player-1", "player-2", "combined_avg","sum_of_individual"]

aus_beautiful2grams = pd.DataFrame(columns = new_column_names)

In [20]:
for index, row in data2grams.iterrows():
    player1 = data2grams.iloc[index]['player-1']
    player2 = data2grams.iloc[index]['player-2']
    combined = data2grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)
    if(combined > individual_avg_sum):
        aus_beautiful2grams = aus_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [21]:
aus_beautiful2grams.head()

     player-1    player-2  combined_avg  sum_of_individual
0  XJ Doherty   SR Watson          41.5              28.36
1  XJ Doherty   DA Warner          68.0              52.94
2  XJ Doherty   MJ Clarke          68.0              28.67
3  XJ Doherty   SPD Smith          54.5              42.81
4  XJ Doherty  GJ Maxwell          51.0              30.27

In [22]:
aus_beautiful2grams.shape

(302, 4)

In [23]:
aus_beautiful2grams.to_csv('aus_beautiful2grams.csv')

In [24]:
# 3 grams - find beautiful combinations

In [26]:
#load data file
data3grams = pd.read_csv('aus3grams.csv')

In [27]:
data3grams.head()

     player-1      player-2       player-3  avg
0  XJ Doherty  JR Hazlewood      PM Siddle  0.0
1  XJ Doherty  JR Hazlewood      SR Watson  0.0
2  XJ Doherty  JR Hazlewood  M Labuschagne  0.0
3  XJ Doherty  JR Hazlewood       TD Paine  0.0
4  XJ Doherty  JR Hazlewood        CA Lynn  0.0

In [28]:
data3grams.shape

(20825, 4)

In [29]:
data3grams = data3grams[data3grams.avg != 0.0]

In [30]:
data3grams.shape

(3612, 4)

In [31]:
data3grams = data3grams.reset_index(drop=True)

In [32]:
new_column_names = ["player-1", "player-2", "player-3", "combined_avg","sum_of_individual"]

aus_beautiful3grams = pd.DataFrame(columns = new_column_names)

In [33]:
for index, row in data3grams.iterrows():
    player1 = data3grams.iloc[index]['player-1']
    player2 = data3grams.iloc[index]['player-2']
    player3 = data3grams.iloc[index]['player-3']
    combined = data3grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)
    if(combined > individual_avg_sum):
        aus_beautiful3grams = aus_beautiful3grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [34]:
aus_beautiful3grams.head()

     player-1    player-2   player-3  combined_avg  sum_of_individual
0  XJ Doherty   SR Watson   MA Starc          41.5              32.29
1  XJ Doherty   DA Warner  SR Watson         109.5              81.30
2  XJ Doherty   MJ Clarke  SR Watson         135.0              57.03
3  XJ Doherty  MG Johnson  SR Watson          70.0              32.61
4  XJ Doherty   SPD Smith  SR Watson          96.0              71.17

In [35]:
aus_beautiful3grams.shape

(1708, 5)

In [36]:
aus_beautiful3grams.to_csv('aus_beautiful3grams.csv')

In [37]:
# 4 grams - find beautiful combinations

In [38]:
#load data file
data4grams = pd.read_csv('aus4grams.csv')

In [39]:
data4grams.head()

   player-1   player-2     player-3   player-4    avg
0  SE Marsh  SPD Smith      MS Wade   JS Paris  117.0
1  SE Marsh  SPD Smith     JS Paris   MG Neser    0.0
2  SE Marsh  SPD Smith   UT Khawaja   JS Paris    0.0
3  SE Marsh  SPD Smith  JP Faulkner   JS Paris  117.0
4  SE Marsh  SPD Smith     JS Paris  SM Boland  117.0

In [40]:
data4grams.shape

(249900, 5)

In [41]:
data4grams = data4grams[data4grams.avg != 0.0]

In [42]:
data4grams.shape

(11106, 5)

In [43]:
data4grams = data4grams.reset_index(drop=True)

In [44]:
new_column_names = ["player-1", "player-2", "player-3", "player-4", "combined_avg","sum_of_individual"]

aus_beautiful4grams = pd.DataFrame(columns = new_column_names)

In [46]:
for index, row in data4grams.iterrows():
    player1 = data4grams.iloc[index]['player-1']
    player2 = data4grams.iloc[index]['player-2']
    player3 = data4grams.iloc[index]['player-3']
    player4 = data4grams.iloc[index]['player-4']
    combined = data4grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)+dictionary.get(player4)
    if(combined > individual_avg_sum):
        aus_beautiful4grams = aus_beautiful4grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'player-4':player4,'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [47]:
aus_beautiful4grams.head()

,player-1,player-2,player-3,player-4,combined_avg,sum_of_individual
0,SE Marsh,SPD Smith,MS Wade,JS Paris,117.0,101.47
1,SE Marsh,SPD Smith,JP Faulkner,JS Paris,117.0,92.22
2,SE Marsh,SPD Smith,JS Paris,SM Boland,117.0,82.43
3,SE Marsh,SPD Smith,GJ Maxwell,JS Paris,143.0,112.01
4,SE Marsh,SPD Smith,GJ Bailey,JS Paris,193.0,112.27

In [48]:
aus_beautiful4grams.shape

(5219, 6)

In [49]:
aus_beautiful4grams.to_csv('aus_beautiful4grams.csv')