In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load data file
data = pd.read_csv('bdesh.csv')

In [3]:
data.head()

,p1,p1-s,p2,p2-s,p3,p3-s,p4,p4-s,p5,p5-s,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,Anamul Haque,29,Tamim Iqbal,19,Soumya Sarkar,28,Mahmudullah,23,Shakib Al Hasan,63,...,Sabbir Rahman,3,Mashrafe Mortaza,14,Mushfiqur Rahim,3,Rubel Hossain,0,Taskin Ahmed,1
1,Tamim Iqbal,0,Anamul Haque,29,Soumya Sarkar,25,Mominul Haque,1,Mahmudullah,28,...,Mushfiqur Rahim,36,Sabbir Rahman,53,Mashrafe Mortaza,7,Rubel Hossain,0,Taskin Ahmed,0
2,Tamim Iqbal,2,Imrul Kayes,2,Soumya Sarkar,40,Mahmudullah,103,Shakib Al Hasan,2,...,Sabbir Rahman,14,Mashrafe Mortaza,6,Arafat Sunny,3,Rubel Hossain,0,Taskin Ahmed,0
3,Tamim Iqbal,13,Imrul Kayes,2,Soumya Sarkar,51,Mahmudullah,128,Shakib Al Hasan,23,...,Sabbir Rahman,40,Nasir Hossain,11,Rubel Hossain,0,Taijul Islam,0,Taskin Ahmed,0
4,Tamim Iqbal,25,Imrul Kayes,5,Soumya Sarkar,29,Mahmudullah,21,Shakib Al Hasan,10,...,Sabbir Rahman,30,Nasir Hossain,35,Mashrafe Mortaza,1,Rubel Hossain,0,Taskin Ahmed,0

In [4]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [5]:
x = set()

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)

{'Shakib Al Hasan', 'Abul Hasan', 'Imrul Kayes', 'Fazle Mahmud', 'Jubair Hossain', 'Nasir Hossain', 'Tamim Iqbal', 'Mohammad Mithun', 'Abu Jayed', 'Mosaddek Hossain', 'Mominul Haque', 'Najmul Hossain Shanto', 'Rubel Hossain', 'Soumya Sarkar', 'Subashis Roy', 'Sabbir Rahman', 'Anamul Haque', 'Mushfiqur Rahim', 'Liton Das', 'Sunzamul Islam', 'Mohammad Saifuddin', 'Afif Hossain', 'Mohammad Naim', 'Mashrafe Mortaza', 'Mustafizur Rahman', 'Taijul Islam', 'Shafiul Islam', 'Al-Amin Hossain', 'Nazmul Islam', 'Abu Hider', 'Mehidy Hasan Miraz', 'Mahmudullah', 'Tanbir Hayder', 'Nurul Hasan', 'Arafat Sunny', 'Mosharraf Hossain', 'Taskin Ahmed', 'Ariful Haque'}

In [8]:
len(x)

38

In [9]:
unique_list = list(x)
print(unique_list)

['Shakib Al Hasan', 'Abul Hasan', 'Imrul Kayes', 'Fazle Mahmud', 'Jubair Hossain', 'Nasir Hossain', 'Tamim Iqbal', 'Mohammad Mithun', 'Abu Jayed', 'Mosaddek Hossain', 'Mominul Haque', 'Najmul Hossain Shanto', 'Rubel Hossain', 'Soumya Sarkar', 'Subashis Roy', 'Sabbir Rahman', 'Anamul Haque', 'Mushfiqur Rahim', 'Liton Das', 'Sunzamul Islam', 'Mohammad Saifuddin', 'Afif Hossain', 'Mohammad Naim', 'Mashrafe Mortaza', 'Mustafizur Rahman', 'Taijul Islam', 'Shafiul Islam', 'Al-Amin Hossain', 'Nazmul Islam', 'Abu Hider', 'Mehidy Hasan Miraz', 'Mahmudullah', 'Tanbir Hayder', 'Nurul Hasan', 'Arafat Sunny', 'Mosharraf Hossain', 'Taskin Ahmed', 'Ariful Haque']

In [10]:
column_names = ["player_name", "sum", "avg"]

result = pd.DataFrame(columns = column_names)

In [11]:
dictionary = dict()

for indx, name in enumerate(unique_list):
    count = 0
    sum = 0
    for index, row in data.iterrows():
        for ind, p in enumerate(players):
                if(data.iloc[index][p] == name ):
#                     print(name)
                    sum = sum + data.iloc[index][player_scores[ind]] 
                    count += 1
    avg = round((sum/count),2)
    print(name," : sum=",sum," , count=",count," , average=",round(avg,2))    
    dictionary[name] = avg
    result = result.append({'player_name':name, 'sum':sum, 'avg':avg}, ignore_index=True)
    
print(dictionary)

Shakib Al Hasan  : sum= 2221  , count= 61  , average= 36.41
Abul Hasan  : sum= 7  , count= 2  , average= 3.5
Imrul Kayes  : sum= 1038  , count= 24  , average= 43.25
Fazle Mahmud  : sum= 0  , count= 2  , average= 0.0
Jubair Hossain  : sum= 5  , count= 1  , average= 5.0
Nasir Hossain  : sum= 237  , count= 23  , average= 10.3
Tamim Iqbal  : sum= 2977  , count= 68  , average= 43.78
Mohammad Mithun  : sum= 549  , count= 25  , average= 21.96
Abu Jayed  : sum= 0  , count= 2  , average= 0.0
Mosaddek Hossain  : sum= 549  , count= 33  , average= 16.64
Mominul Haque  : sum= 15  , count= 3  , average= 5.0
Najmul Hossain Shanto  : sum= 55  , count= 5  , average= 11.0
Rubel Hossain  : sum= 57  , count= 45  , average= 1.27
Soumya Sarkar  : sum= 1698  , count= 50  , average= 33.96
Subashis Roy  : sum= 1  , count= 1  , average= 1.0
Sabbir Rahman  : sum= 1200  , count= 57  , average= 21.05
Anamul Haque  : sum= 160  , count= 10  , average= 16.0
Mushfiqur Rahim  : sum= 2942  , count= 75  , average= 39.23
Liton Das  : sum= 1079  , count= 36  , average= 29.97
Sunzamul Islam  : sum= 19  , count= 3  , average= 6.33
Mohammad Saifuddin  : sum= 290  , count= 22  , average= 13.18
Afif Hossain  : sum= 7  , count= 1  , average= 7.0
Mohammad Naim  : sum= 0  , count= 1  , average= 0.0
Mashrafe Mortaza  : sum= 441  , count= 73  , average= 6.04
Mustafizur Rahman  : sum= 77  , count= 55  , average= 1.4
Taijul Islam  : sum= 63  , count= 8  , average= 7.88
Shafiul Islam  : sum= 10  , count= 8  , average= 1.25
Al-Amin Hossain  : sum= 1  , count= 4  , average= 0.25
Nazmul Islam  : sum= 7  , count= 5  , average= 1.4
Abu Hider  : sum= 1  , count= 2  , average= 0.5
Mehidy Hasan Miraz  : sum= 379  , count= 38  , average= 9.97
Mahmudullah  : sum= 1824  , count= 74  , average= 24.65
Tanbir Hayder  : sum= 5  , count= 2  , average= 2.5
Nurul Hasan  : sum= 68  , count= 2  , average= 34.0
Arafat Sunny  : sum= 38  , count= 8  , average= 4.75
Mosharraf Hossain  : sum= 11  , count= 2  , average= 5.5
Taskin Ahmed  : sum= 41  , count= 26  , average= 1.58
Ariful Haque  : sum= 0  , count= 1  , average= 0.0
{'Shakib Al Hasan': 36.41, 'Abul Hasan': 3.5, 'Imrul Kayes': 43.25, 'Fazle Mahmud': 0.0, 'Jubair Hossain': 5.0, 'Nasir Hossain': 10.3, 'Tamim Iqbal': 43.78, 'Mohammad Mithun': 21.96, 'Abu Jayed': 0.0, 'Mosaddek Hossain': 16.64, 'Mominul Haque': 5.0, 'Najmul Hossain Shanto': 11.0, 'Rubel Hossain': 1.27, 'Soumya Sarkar': 33.96, 'Subashis Roy': 1.0, 'Sabbir Rahman': 21.05, 'Anamul Haque': 16.0, 'Mushfiqur Rahim': 39.23, 'Liton Das': 29.97, 'Sunzamul Islam': 6.33, 'Mohammad Saifuddin': 13.18, 'Afif Hossain': 7.0, 'Mohammad Naim': 0.0, 'Mashrafe Mortaza': 6.04, 'Mustafizur Rahman': 1.4, 'Taijul Islam': 7.88, 'Shafiul Islam': 1.25, 'Al-Amin Hossain': 0.25, 'Nazmul Islam': 1.4, 'Abu Hider': 0.5, 'Mehidy Hasan Miraz': 9.97, 'Mahmudullah': 24.65, 'Tanbir Hayder': 2.5, 'Nurul Hasan': 34.0, 'Arafat Sunny': 4.75, 'Mosharraf Hossain': 5.5, 'Taskin Ahmed': 1.58, 'Ariful Haque': 0.0}

In [12]:
# 2 grams - find beautiful combinations

In [26]:
#load data file
data2grams = pd.read_csv('bdesh2grams.csv')

In [27]:
data2grams.head()

            player-1           player-2  avg
0  Mosharraf Hossain        Nurul Hasan  0.0
1          Abu Hider  Mosharraf Hossain  0.0
2       Nazmul Islam  Mosharraf Hossain  0.0
3      Nasir Hossain  Mosharraf Hossain  0.0
4  Mosharraf Hossain       Taskin Ahmed  6.0

In [28]:
data2grams.shape

(703, 3)

In [29]:
data2grams = data2grams[data2grams.avg != 0.0]

In [30]:
data2grams.head()

             player-1           player-2   avg
4   Mosharraf Hossain       Taskin Ahmed   6.0
7   Mosharraf Hossain    Mushfiqur Rahim  17.5
10   Mashrafe Mortaza  Mosharraf Hossain   7.0
12  Mosharraf Hossain   Mosaddek Hossain   7.5
19        Mahmudullah  Mosharraf Hossain  34.0

In [31]:
data2grams.shape

(375, 3)

In [32]:
data2grams = data2grams.reset_index(drop=True)

In [33]:
data2grams.head()

            player-1           player-2   avg
0  Mosharraf Hossain       Taskin Ahmed   6.0
1  Mosharraf Hossain    Mushfiqur Rahim  17.5
2   Mashrafe Mortaza  Mosharraf Hossain   7.0
3  Mosharraf Hossain   Mosaddek Hossain   7.5
4        Mahmudullah  Mosharraf Hossain  34.0

In [37]:
new_column_names = ["player-1", "player-2", "combined_avg","sum_of_individual"]

bdesh_beautiful2grams = pd.DataFrame(columns = new_column_names)

In [38]:
for index, row in data2grams.iterrows():
    player1 = data2grams.iloc[index]['player-1']
    player2 = data2grams.iloc[index]['player-2']
    combined = data2grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)
    if(combined > individual_avg_sum):
        bdesh_beautiful2grams = bdesh_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [39]:
bdesh_beautiful2grams.head()

            player-1           player-2  combined_avg  sum_of_individual
0        Mahmudullah  Mosharraf Hossain          34.0              30.15
1  Mosharraf Hossain        Tamim Iqbal          73.0              49.28
2    Shakib Al Hasan  Mosharraf Hossain          53.5              41.91
3  Mosharraf Hossain      Sabbir Rahman          47.0              26.55
4        Imrul Kayes  Mosharraf Hossain         119.0              48.75

In [40]:
bdesh_beautiful2grams.shape

(177, 4)

In [41]:
bdesh_beautiful2grams.to_csv('bdesh_beautiful2grams.csv')

In [42]:
# 3 grams - find beautiful combinations

In [43]:
#load data file
data3grams = pd.read_csv('bdesh3grams.csv')

In [44]:
data3grams.head()

          player-1           player-2     player-3  avg
0        Abu Hider  Mosharraf Hossain  Nurul Hasan  0.0
1     Nazmul Islam  Mosharraf Hossain  Nurul Hasan  0.0
2    Nasir Hossain  Mosharraf Hossain  Nurul Hasan  0.0
3     Taskin Ahmed  Mosharraf Hossain  Nurul Hasan  0.0
4  Mohammad Mithun  Mosharraf Hossain  Nurul Hasan  0.0

In [45]:
data3grams.shape

(8436, 4)

In [46]:
data3grams = data3grams[data3grams.avg != 0.0]

In [47]:
data3grams.shape

(1970, 4)

In [48]:
data3grams.head()

              player-1           player-2      player-3   avg
140  Mosharraf Hossain    Mushfiqur Rahim  Taskin Ahmed  18.0
143   Mashrafe Mortaza  Mosharraf Hossain  Taskin Ahmed   7.5
145  Mosharraf Hossain   Mosaddek Hossain  Taskin Ahmed   8.0
152        Mahmudullah  Mosharraf Hossain  Taskin Ahmed  34.5
153  Mosharraf Hossain        Tamim Iqbal  Taskin Ahmed  73.5

In [49]:
data3grams = data3grams.reset_index(drop=True)

In [50]:
new_column_names = ["player-1", "player-2", "player-3", "combined_avg","sum_of_individual"]

bdesh_beautiful3grams = pd.DataFrame(columns = new_column_names)

In [53]:
for index, row in data3grams.iterrows():
    player1 = data3grams.iloc[index]['player-1']
    player2 = data3grams.iloc[index]['player-2']
    player3 = data3grams.iloc[index]['player-3']
    combined = data3grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)
    if(combined > individual_avg_sum):
        bdesh_beautiful3grams = bdesh_beautiful3grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [54]:
bdesh_beautiful3grams.head()

,player-1,player-2,player-3,combined_avg,sum_of_individual
0,Mahmudullah,Mosharraf Hossain,Taskin Ahmed,34.5,31.73
1,Mosharraf Hossain,Tamim Iqbal,Taskin Ahmed,73.5,50.86
2,Shakib Al Hasan,Mosharraf Hossain,Taskin Ahmed,54.0,43.49
3,Mosharraf Hossain,Sabbir Rahman,Taskin Ahmed,47.5,28.13
4,Imrul Kayes,Mosharraf Hossain,Taskin Ahmed,120.0,50.33

In [55]:
bdesh_beautiful3grams.shape

(936, 5)

In [56]:
bdesh_beautiful3grams.to_csv('bdesh_beautiful3grams.csv')

In [57]:
# 4 grams - find beautiful combinations

In [59]:
#load data file
data4grams = pd.read_csv('bdesh4grams.csv')

In [60]:
data4grams.head()

        player-1           player-2           player-3     player-4  avg
0   Nazmul Islam          Abu Hider  Mosharraf Hossain  Nurul Hasan  0.0
1      Abu Hider  Mosharraf Hossain      Nasir Hossain  Nurul Hasan  0.0
2   Taskin Ahmed          Abu Hider  Mosharraf Hossain  Nurul Hasan  0.0
3      Abu Hider  Mosharraf Hossain    Mohammad Mithun  Nurul Hasan  0.0
4  Mominul Haque          Abu Hider  Mosharraf Hossain  Nurul Hasan  0.0

In [61]:
data4grams.shape

(73815, 5)

In [62]:
data4grams = data4grams[data4grams.avg != 0.0]

In [63]:
data4grams.shape

(5915, 5)

In [64]:
data4grams = data4grams.reset_index(drop=True)

In [65]:
new_column_names = ["player-1", "player-2", "player-3", "player-4", "combined_avg","sum_of_individual"]

bdesh_beautiful4grams = pd.DataFrame(columns = new_column_names)

In [66]:
for index, row in data4grams.iterrows():
    player1 = data4grams.iloc[index]['player-1']
    player2 = data4grams.iloc[index]['player-2']
    player3 = data4grams.iloc[index]['player-3']
    player4 = data4grams.iloc[index]['player-4']
    combined = data4grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)+dictionary.get(player4)
    if(combined > individual_avg_sum):
        bdesh_beautiful4grams = bdesh_beautiful4grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'player-4':player4,'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [67]:
bdesh_beautiful4grams.head()

,player-1,player-2,player-3,player-4,combined_avg,sum_of_individual
0,Imrul Kayes,Mosharraf Hossain,Mushfiqur Rahim,Taskin Ahmed,132.0,89.56
1,Mashrafe Mortaza,Mosharraf Hossain,Tamim Iqbal,Taskin Ahmed,75.0,56.90
2,Mashrafe Mortaza,Shakib Al Hasan,Mosharraf Hossain,Taskin Ahmed,55.5,49.53
3,Mashrafe Mortaza,Mosharraf Hossain,Sabbir Rahman,Taskin Ahmed,49.0,34.17
4,Mashrafe Mortaza,Imrul Kayes,Mosharraf Hossain,Taskin Ahmed,121.0,56.37

In [68]:
bdesh_beautiful4grams.shape

(2831, 6)

In [69]:
bdesh_beautiful4grams.to_csv('bdesh_beautiful4grams.csv')