In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load data file
data = pd.read_csv('afg.csv')

In [3]:
data.head()

,p1,p1-s,p2,p2-s,p3,p3-s,p4,p4-s,p5,p5-s,...,p7,p7-s,p8,p8-s,p9,p9-s,p10,p10-s,p11,p11-s
0,Javed Ahmadi,81,Usman Ghani,1,Afsar Zazai,1,Nasir Jamal,8,Asghar Afghan,8,...,Najibullah Zadran,45,Mirwais Ashraf,12,Dawlat Zadran,11,Hamid Hassan,0,Aftab Alam,0
1,Javed Ahmadi,13,Usman Ghani,6,Asghar Afghan,44,Samiullah Shinwari,50,Mohammad Nabi,9,...,Afsar Zazai,18,Mirwais Ashraf,5,Dawlat Zadran,2,Aftab Alam,2,Hamid Hassan,0
2,Javed Ahmadi,1,Afsar Zazai,1,Nawroz Mangal,27,Asghar Afghan,1,Samiullah Shinwari,42,...,Najibullah Zadran,17,Mirwais Ashraf,10,Aftab Alam,14,Hamid Hassan,0,Shapoor Zadran,2
3,Javed Ahmadi,24,Nawroz Mangal,10,Asghar Afghan,54,Samiullah Shinwari,38,Mohammad Nabi,21,...,Afsar Zazai,19,Mirwais Ashraf,28,Dawlat Zadran,4,Hamid Hassan,0,Shapoor Zadran,1
4,Javed Ahmadi,13,Usman Ghani,12,Nawroz Mangal,33,Asghar Afghan,4,Samiullah Shinwari,17,...,Najibullah Zadran,24,Afsar Zazai,10,Dawlat Zadran,0,Hamid Hassan,7,Shapoor Zadran,0

In [4]:
players = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11']
player_scores = ['p1-s','p2-s','p3-s','p4-s','p5-s','p6-s','p7-s','p8-s','p9-s','p10-s','p11-s']

In [5]:
x = set()

In [6]:
for i in players:
    for j in range(len(data[i].unique())):
        x.add(data[i].unique()[j])

In [7]:
print(x)

{'Ihsanullah', 'Asghar Afghan', 'Hamid Hassan', 'Rahmat Shah', 'Shabir Noori', 'Sharafuddin Ashraf', 'Gulbadin Naib', 'Usman Ghani', 'Javed Ahmadi', 'Rashid Khan', 'Shapoor Zadran', 'Mohammad Shahzad', 'Dawlat Zadran', 'Najeeb Tarakai', 'Karim Janat', 'Zahir Khan', 'Mirwais Ashraf', 'Fareed Ahmad', 'Mohammad Nabi', 'Hashmatullah Shahidi', 'Najibullah Zadran', 'Rokhan Barakzai', 'Samiullah Shinwari', 'Amir Hamza', 'Yamin Ahmadzai', 'Afsar Zazai', 'Naveen-ul-Haq', 'Ibrahim Zadran', 'Ikram Alikhil', 'Nasir Jamal', 'Nawroz Mangal', 'Karim Sadiq', 'Aftab Alam', 'Mujeeb Ur Rahman', 'Shafiqullah', 'Noor Ali Zadran', 'Hazratullah Zazai', 'Sayed Shirzad'}

In [8]:
len(x)

38

In [9]:
unique_list = list(x)
print(unique_list)

['Ihsanullah', 'Asghar Afghan', 'Hamid Hassan', 'Rahmat Shah', 'Shabir Noori', 'Sharafuddin Ashraf', 'Gulbadin Naib', 'Usman Ghani', 'Javed Ahmadi', 'Rashid Khan', 'Shapoor Zadran', 'Mohammad Shahzad', 'Dawlat Zadran', 'Najeeb Tarakai', 'Karim Janat', 'Zahir Khan', 'Mirwais Ashraf', 'Fareed Ahmad', 'Mohammad Nabi', 'Hashmatullah Shahidi', 'Najibullah Zadran', 'Rokhan Barakzai', 'Samiullah Shinwari', 'Amir Hamza', 'Yamin Ahmadzai', 'Afsar Zazai', 'Naveen-ul-Haq', 'Ibrahim Zadran', 'Ikram Alikhil', 'Nasir Jamal', 'Nawroz Mangal', 'Karim Sadiq', 'Aftab Alam', 'Mujeeb Ur Rahman', 'Shafiqullah', 'Noor Ali Zadran', 'Hazratullah Zazai', 'Sayed Shirzad']

In [10]:
column_names = ["player_name", "sum", "avg"]

result = pd.DataFrame(columns = column_names)

In [11]:
dictionary = dict()

for indx, name in enumerate(unique_list):
    count = 0
    sum = 0
    for index, row in data.iterrows():
        for ind, p in enumerate(players):
                if(data.iloc[index][p] == name ):
#                     print(name)
                    sum = sum + data.iloc[index][player_scores[ind]] 
                    count += 1
    avg = round((sum/count),2)
    print(name," : sum=",sum," , count=",count," , average=",round(avg,2))    
    dictionary[name] = avg
    result = result.append({'player_name':name, 'sum':sum, 'avg':avg}, ignore_index=True)
    
print(dictionary)

Ihsanullah  : sum= 287  , count= 14  , average= 20.5
Asghar Afghan  : sum= 1513  , count= 67  , average= 22.58
Hamid Hassan  : sum= 44  , count= 13  , average= 3.38
Rahmat Shah  : sum= 1897  , count= 56  , average= 33.88
Shabir Noori  : sum= 9  , count= 1  , average= 9.0
Sharafuddin Ashraf  : sum= 41  , count= 8  , average= 5.12
Gulbadin Naib  : sum= 786  , count= 44  , average= 17.86
Usman Ghani  : sum= 22  , count= 5  , average= 4.4
Javed Ahmadi  : sum= 489  , count= 20  , average= 24.45
Rashid Khan  : sum= 868  , count= 63  , average= 13.78
Shapoor Zadran  : sum= 14  , count= 12  , average= 1.17
Mohammad Shahzad  : sum= 1521  , count= 49  , average= 31.04
Dawlat Zadran  : sum= 321  , count= 51  , average= 6.29
Najeeb Tarakai  : sum= 5  , count= 1  , average= 5.0
Karim Janat  : sum= 9  , count= 1  , average= 9.0
Zahir Khan  : sum= 0  , count= 1  , average= 0.0
Mirwais Ashraf  : sum= 175  , count= 18  , average= 9.72
Fareed Ahmad  : sum= 1  , count= 3  , average= 0.33
Mohammad Nabi  : sum= 1485  , count= 72  , average= 20.62
Hashmatullah Shahidi  : sum= 871  , count= 30  , average= 29.03
Najibullah Zadran  : sum= 1238  , count= 51  , average= 24.27
Rokhan Barakzai  : sum= 0  , count= 1  , average= 0.0
Samiullah Shinwari  : sum= 736  , count= 38  , average= 19.37
Amir Hamza  : sum= 19  , count= 19  , average= 1.0
Yamin Ahmadzai  : sum= 3  , count= 4  , average= 0.75
Afsar Zazai  : sum= 77  , count= 9  , average= 8.56
Naveen-ul-Haq  : sum= 9  , count= 4  , average= 2.25
Ibrahim Zadran  : sum= 2  , count= 1  , average= 2.0
Ikram Alikhil  : sum= 229  , count= 11  , average= 20.82
Nasir Jamal  : sum= 218  , count= 11  , average= 19.82
Nawroz Mangal  : sum= 172  , count= 14  , average= 12.29
Karim Sadiq  : sum= 5  , count= 1  , average= 5.0
Aftab Alam  : sum= 70  , count= 20  , average= 3.5
Mujeeb Ur Rahman  : sum= 68  , count= 35  , average= 1.94
Shafiqullah  : sum= 251  , count= 14  , average= 17.93
Noor Ali Zadran  : sum= 615  , count= 26  , average= 23.65
Hazratullah Zazai  : sum= 280  , count= 14  , average= 20.0
Sayed Shirzad  : sum= 25  , count= 1  , average= 25.0
{'Ihsanullah': 20.5, 'Asghar Afghan': 22.58, 'Hamid Hassan': 3.38, 'Rahmat Shah': 33.88, 'Shabir Noori': 9.0, 'Sharafuddin Ashraf': 5.12, 'Gulbadin Naib': 17.86, 'Usman Ghani': 4.4, 'Javed Ahmadi': 24.45, 'Rashid Khan': 13.78, 'Shapoor Zadran': 1.17, 'Mohammad Shahzad': 31.04, 'Dawlat Zadran': 6.29, 'Najeeb Tarakai': 5.0, 'Karim Janat': 9.0, 'Zahir Khan': 0.0, 'Mirwais Ashraf': 9.72, 'Fareed Ahmad': 0.33, 'Mohammad Nabi': 20.62, 'Hashmatullah Shahidi': 29.03, 'Najibullah Zadran': 24.27, 'Rokhan Barakzai': 0.0, 'Samiullah Shinwari': 19.37, 'Amir Hamza': 1.0, 'Yamin Ahmadzai': 0.75, 'Afsar Zazai': 8.56, 'Naveen-ul-Haq': 2.25, 'Ibrahim Zadran': 2.0, 'Ikram Alikhil': 20.82, 'Nasir Jamal': 19.82, 'Nawroz Mangal': 12.29, 'Karim Sadiq': 5.0, 'Aftab Alam': 3.5, 'Mujeeb Ur Rahman': 1.94, 'Shafiqullah': 17.93, 'Noor Ali Zadran': 23.65, 'Hazratullah Zazai': 20.0, 'Sayed Shirzad': 25.0}

In [12]:
# 2 grams - find beautiful combinations

In [13]:
#load data file
data2grams = pd.read_csv('afg2grams.csv')

In [14]:
data2grams.head()

         player-1           player-2  avg
0  Najeeb Tarakai     Mirwais Ashraf  0.0
1  Najeeb Tarakai         Zahir Khan  0.0
2  Najeeb Tarakai  Najibullah Zadran  0.0
3  Najeeb Tarakai        Karim Sadiq  0.0
4  Najeeb Tarakai    Rokhan Barakzai  0.0

In [15]:
data2grams.shape

(703, 3)

In [16]:
data2grams = data2grams[data2grams.avg != 0.0]

In [17]:
data2grams.head()

          player-1            player-2    avg
10  Najeeb Tarakai        Fareed Ahmad    5.0
12  Najeeb Tarakai  Samiullah Shinwari   67.0
13  Najeeb Tarakai       Asghar Afghan   44.0
19  Najeeb Tarakai         Rashid Khan    5.0
20  Najeeb Tarakai         Rahmat Shah  113.0

In [18]:
data2grams.shape

(421, 3)

In [19]:
data2grams = data2grams.reset_index(drop=True)

In [20]:
new_column_names = ["player-1", "player-2", "combined_avg","sum_of_individual"]

afg_beautiful2grams = pd.DataFrame(columns = new_column_names)

In [21]:
for index, row in data2grams.iterrows():
    player1 = data2grams.iloc[index]['player-1']
    player2 = data2grams.iloc[index]['player-2']
    combined = data2grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)
    if(combined > individual_avg_sum):
        afg_beautiful2grams = afg_beautiful2grams.append({'player-1':player1, 'player-2':player2, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [22]:
afg_beautiful2grams.head()

         player-1            player-2  combined_avg  sum_of_individual
0  Najeeb Tarakai  Samiullah Shinwari     67.000000              24.37
1  Najeeb Tarakai       Asghar Afghan     44.000000              27.58
2  Najeeb Tarakai         Rahmat Shah    113.000000              38.88
3  Mirwais Ashraf   Najibullah Zadran     36.928571              33.99
4  Mirwais Ashraf         Karim Sadiq     23.000000              14.72

In [23]:
afg_beautiful2grams.shape

(192, 4)

In [24]:
afg_beautiful2grams.to_csv('afg_beautiful2grams.csv')

In [25]:
# 3 grams - find beautiful combinations

In [26]:
#load data file
data3grams = pd.read_csv('afg3grams.csv')

In [27]:
data3grams.head()

         player-1        player-2           player-3  avg
0  Najeeb Tarakai  Mirwais Ashraf         Zahir Khan  0.0
1  Najeeb Tarakai  Mirwais Ashraf  Najibullah Zadran  0.0
2  Najeeb Tarakai  Mirwais Ashraf        Karim Sadiq  0.0
3  Najeeb Tarakai  Mirwais Ashraf    Rokhan Barakzai  0.0
4  Najeeb Tarakai    Shabir Noori     Mirwais Ashraf  0.0

In [28]:
data3grams.shape

(8436, 4)

In [29]:
data3grams = data3grams[data3grams.avg != 0.0]

In [30]:
data3grams.shape

(2286, 4)

In [31]:
data3grams = data3grams.reset_index(drop=True)

In [32]:
new_column_names = ["player-1", "player-2", "player-3", "combined_avg","sum_of_individual"]

afg_beautiful3grams = pd.DataFrame(columns = new_column_names)

In [33]:
for index, row in data3grams.iterrows():
    player1 = data3grams.iloc[index]['player-1']
    player2 = data3grams.iloc[index]['player-2']
    player3 = data3grams.iloc[index]['player-3']
    combined = data3grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)
    if(combined > individual_avg_sum):
        afg_beautiful3grams = afg_beautiful3grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [34]:
afg_beautiful3grams.head()

,player-1,player-2,player-3,combined_avg,sum_of_individual
0,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,67.0,24.70
1,Najeeb Tarakai,Fareed Ahmad,Asghar Afghan,44.0,27.91
2,Najeeb Tarakai,Fareed Ahmad,Rahmat Shah,113.0,39.21
3,Najeeb Tarakai,Samiullah Shinwari,Asghar Afghan,106.0,46.95
4,Najeeb Tarakai,Samiullah Shinwari,Rashid Khan,67.0,38.15

In [35]:
afg_beautiful3grams.shape

(1025, 5)

In [36]:
afg_beautiful3grams.to_csv('afg_beautiful3grams.csv')

In [37]:
# 4 grams - find beautiful combinations

In [38]:
#load data file
data4grams = pd.read_csv('afg4grams.csv')

In [39]:
data4grams.head()

         player-1        player-2        player-3           player-4  avg
0  Najeeb Tarakai  Mirwais Ashraf      Zahir Khan  Najibullah Zadran  0.0
1  Najeeb Tarakai     Karim Sadiq  Mirwais Ashraf         Zahir Khan  0.0
2  Najeeb Tarakai  Mirwais Ashraf      Zahir Khan    Rokhan Barakzai  0.0
3  Najeeb Tarakai    Shabir Noori  Mirwais Ashraf         Zahir Khan  0.0
4  Najeeb Tarakai     Afsar Zazai  Mirwais Ashraf         Zahir Khan  0.0

In [40]:
data4grams.shape

(73815, 5)

In [41]:
data4grams = data4grams[data4grams.avg != 0.0]

In [42]:
data4grams.shape

(6956, 5)

In [43]:
data4grams = data4grams.reset_index(drop=True)

In [44]:
new_column_names = ["player-1", "player-2", "player-3", "player-4", "combined_avg","sum_of_individual"]

afg_beautiful4grams = pd.DataFrame(columns = new_column_names)

In [45]:
for index, row in data4grams.iterrows():
    player1 = data4grams.iloc[index]['player-1']
    player2 = data4grams.iloc[index]['player-2']
    player3 = data4grams.iloc[index]['player-3']
    player4 = data4grams.iloc[index]['player-4']
    combined = data4grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)+dictionary.get(player4)
    if(combined > individual_avg_sum):
        afg_beautiful4grams = afg_beautiful4grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'player-4':player4,'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [46]:
afg_beautiful4grams.head()

,player-1,player-2,player-3,player-4,combined_avg,sum_of_individual
0,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Asghar Afghan,106.0,47.28
1,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Rashid Khan,67.0,38.48
2,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Rahmat Shah,175.0,58.58
3,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Dawlat Zadran,67.0,30.99
4,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Gulbadin Naib,67.0,42.56

In [47]:
afg_beautiful4grams.shape

(3205, 6)

In [48]:
afg_beautiful4grams.to_csv('afg_beautiful4grams.csv')

In [49]:
# 5 grams - find beautiful combinations

In [51]:
#load data file
data5grams = pd.read_csv('afg5grams.csv')

In [52]:
data5grams.head()

,player-1,player-2,player-3,player-4,player-5,avg
0,Najeeb Tarakai,Mirwais Ashraf,Zahir Khan,Najibullah Zadran,Karim Sadiq,0.0
1,Najeeb Tarakai,Mirwais Ashraf,Zahir Khan,Najibullah Zadran,Rokhan Barakzai,0.0
2,Najeeb Tarakai,Mirwais Ashraf,Zahir Khan,Najibullah Zadran,Shabir Noori,0.0
3,Najeeb Tarakai,Mirwais Ashraf,Zahir Khan,Najibullah Zadran,Afsar Zazai,0.0
4,Najeeb Tarakai,Hamid Hassan,Mirwais Ashraf,Zahir Khan,Najibullah Zadran,0.0

In [53]:
data5grams.shape

(501942, 6)

In [54]:
data5grams = data5grams[data5grams.avg != 0.0]

In [55]:
data5grams.shape

(13239, 6)

In [57]:
data5grams = data5grams.reset_index(drop=True)

In [59]:
new_column_names = ["player-1", "player-2", "player-3", "player-4", "player-5", "combined_avg","sum_of_individual"]

afg_beautiful5grams = pd.DataFrame(columns = new_column_names)

In [61]:
for index, row in data5grams.iterrows():
    player1 = data5grams.iloc[index]['player-1']
    player2 = data5grams.iloc[index]['player-2']
    player3 = data5grams.iloc[index]['player-3']
    player4 = data5grams.iloc[index]['player-4']
    player5 = data5grams.iloc[index]['player-5']
    combined = data5grams.iloc[index]['avg']
    individual_avg_sum = dictionary.get(player1)+dictionary.get(player2)+dictionary.get(player3)+dictionary.get(player4)+dictionary.get(player5)
    if(combined > individual_avg_sum):
        afg_beautiful5grams = afg_beautiful5grams.append({'player-1':player1, 'player-2':player2,'player-3':player3, 'player-4':player4, 'player-5':player5,'combined_avg': combined, 'sum_of_individual':individual_avg_sum}, ignore_index=True)

In [62]:
afg_beautiful5grams.shape

(6235, 7)

In [63]:
afg_beautiful5grams.head()

,player-1,player-2,player-3,player-4,player-5,combined_avg,sum_of_individual
0,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Asghar Afghan,Rashid Khan,106.0,61.06
1,Najeeb Tarakai,Fareed Ahmad,Rahmat Shah,Samiullah Shinwari,Asghar Afghan,214.0,81.16
2,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Asghar Afghan,Dawlat Zadran,106.0,53.57
3,Najeeb Tarakai,Fareed Ahmad,Samiullah Shinwari,Asghar Afghan,Gulbadin Naib,106.0,65.14
4,Najeeb Tarakai,Fareed Ahmad,Mohammad Nabi,Samiullah Shinwari,Asghar Afghan,106.0,67.90

In [64]:
afg_beautiful5grams.to_csv('afg_beautiful5grams.csv')